
*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body{
  font-family: 'Nunito', sans-serif;
}

#background-login{
  background-image: url("../src/images/background.png") ;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 17px solid rgba(0, 191, 156, 1);
  justify-content: center;
  align-items: center;
}

#login-box{
  background: #F6F8F9;
  border-top: 17px solid rgba(255, 82, 99, 1);
  border-bottom: 17px solid rgba(0, 191, 156, 1);
  justify-content: center;
  align-items: center;
}

#logo-login{
  background-image: url("../src/images/logo.png");
  height: 208px;
  width: 341px;
  border-radius: 0px;
}

#login-text{
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  color: rgba(255, 192, 0, 1);
}

.box-input{
  display: inline-grid;
}

.input-ct{
  width: 548px;
  height: 48px;
  background: #FFFFFF;
  border: 0.3px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
}

input {
  padding-left: 10px;
}

.btn-log{
  height: 48px;
  width: 184px;
  color: #FFFFFF;
  background: #00BF9C;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
}

.sp-link{
  color: rgba(0, 191, 156, 1);
  font-weight: 700;
}

.hunolog{
  font-weight: 700;
  font-size: 24px;
}

@media(max-width:900px){
  #background-login{
    -webkit-filter: blur(68px);
    -moz-filter: blur(68px);
    -o-filter: blur(68px);
    -ms-filter: blur(68px);
    filter: blur(68px);
  }
  #login-box {
    background-position: center center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    z-index: 1;
  }
  #content-form{
    z-index: 100;
  }
  #content-form{
    padding: 0;
  }
}

/*barra de navegacion*/
.navbar{
  background-color: #00BF9C;
  color: white;
  height: 56px;
}

.p-style{
  margin: 0;
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link{
  color: white !important;
}

.fw-100{
  font-weight: 100;
}

.t-a{
  text-align: end;
}

.pl{
  padding-left: 15px;
}

/*sidebar*/
.sidebar{
  width: 276px !important;
  border-radius: 0px;
  background-color: #FFFFFF;
  height: 100vh;
  box-shadow: 2px 0px 1px 6px rgb(0 0 0 / 2%);
  border-right: 1px solid rgba(0, 0, 0, 00.3px);
}

.bt-cerrar{
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  padding-left: 3px;
  font-size: 12px;
  color: #00BF9C;
}

.bt-cerrar.ion-icon{
  padding-top: 5px;
}

.items ion-icon{
  margin: auto;
  padding-left: 10px;
  font-size: 25px;
}

.bt-cerrar{

}