* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  background-color: rgba(246, 248, 249, 1) !important;
  ;
}

#background-login {
  background-image: url("../src/images/background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 17px solid rgba(0, 191, 156, 1);
  justify-content: center;
  align-items: center;
}

#login-box {
  background: #F6F8F9;
  border-top: 17px solid rgba(255, 82, 99, 1);
  border-bottom: 17px solid rgba(0, 191, 156, 1);
  justify-content: center;
  align-items: center;
}

#logo-login {
  background-image: url("../src/images/logo.png");
  height: 208px;
  width: 341px;
  border-radius: 0px;
}

select.form-select {
  font-size: 12px;
  padding-top: 10px;
}

#login-text {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  color: rgba(255, 192, 0, 1);
}

.box-input {
  display: inline-grid;
}

.input-ct {
  width: 548px;
  height: 48px;
  background: #FFFFFF;
  border: 0.3px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
}

input {
  padding-left: 10px;
}

.btn-log {
  height: 48px;
  width: 184px;
  color: #FFFFFF;
  background: #00BF9C;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
}

.sp-link {
  color: rgba(0, 191, 156, 1);
  font-weight: 700;
  cursor: pointer;
}

.hunolog {
  font-weight: 700;
  font-size: 24px;
}

@media(max-width:900px) {
  #background-login {
    -webkit-filter: blur(68px);
    -moz-filter: blur(68px);
    -o-filter: blur(68px);
    -ms-filter: blur(68px);
    filter: blur(68px);
  }

  #login-box {
    background-position: center center;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    z-index: 1;
  }

  #content-form {
    z-index: 100;
  }

  #content-form {
    padding: 0;
  }
}

/*barra de navegacion*/
.navbar {
  background-color: #00BF9C;
  color: white;
  height: 56px;
}

.p-style {
  margin: 0;
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.fw-100 {
  font-weight: 100;
}

.t-a {
  text-align: end;
}

.pl {
  padding-left: 15px;
}

a.nav-link:hover {
  color: rgba(0, 0, 0, 0.2) !important;
}

.createnewproject {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 0;
  height: 30px;
}

a.createnewproject.nav-link {
  padding-top: 0;
}

a.createnewproject.mt-1.nav-link:hover {
  color: rgba(0, 0, 0, 0.2) !important;
}

/*sidebar*/
.sidebar {
  width: 276px;
  border-radius: 0px;
  background-color: #FFFFFF;
  height: 100vh;
  box-shadow: 2px 0px 1px 6px rgb(0 0 0 / 2%);
  border-right: 1px solid rgba(0, 0, 0, 00.3px);
}

.bt-cerrar {
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  padding-left: 3px;
  cursor: pointer;
  color: red;
}

a.nav-link.crr {
  color: red;
}

.crr {
  color: red;
}

.bt-cerrar.ion-icon {
  padding-top: 5px;
  color: red;
}

.items ion-icon {
  margin: auto;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 25px;
}

/*register form*/
.register-bg {
  background-image: url("../src/images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.register-box {
  /* width: 861px;
  height: 624px; */
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

}

.register-box-head {
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.register-bg.w-100.container-fluid {
  display: flex;
  align-items: center;
}

.btn-cls {
  bottom: 265px;
  background: #F6F8F9;
  color: rgba(73, 80, 87, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  width: 270px;
  border: 1px solid;
}

.col-md-6.bt-centrar button.btn-cls:hover {
  color: #00BF9C;
}

.btn-crear {
  bottom: 265px;
  background: #00BF9C;
  border: 1px solid #00BF9C;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  width: 270px;
  color: #FFFFFF;
}

.btn-cancel {
  bottom: 265px;
  background: rgba(246, 248, 249, 1);
  border: 1px solid rgba(225, 227, 230, 1);
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  width: 270px;
  color: black;
}

.btn-update {
  bottom: 265px;
  background: #00BF9C !important;
  border: 1px solid #00BF9C !important;
  box-sizing: border-box;
  border-radius: 8px;
  color: #FFFFFF;
}

.col-md-6.bt-centrar button.btn-crear:hover {
  color: rgba(73, 80, 87, 1);
  border: 1px solid;
}

.row.justify-content-center h1 {
  text-align: center;
}

.title-reg h6 {
  padding-left: 60px;
}

.bt-centrar {
  text-align: center;
}

.items.nav a,
p.p-style,
span.username {
  color: #FFFFFF;
}

.swal-footer {
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*reset form*/
.reset-bg {
  background-image: url("../src/images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.reset-box {
  width: auto !important;
  height: auto;
  background: #FFFFFF;
  border-radius: 20px;
  align-items: center;
  padding: 2rem;
}

/*dashboard*/

div#dash {
  padding: 0;
}

.o-t {
  text-align: end;
}

.box-dashboard-head {
  background: #FFFFFF;
  border-radius: 8px;
}

div#headdash {
  padding-left: 2rem;
  padding-right: 2rem;
}

.user {
  padding-right: 5px;
}

.p5co {
  padding: 0.5rem;
}

.sidebar-heading.border-bottom {
  text-align: center;
}

.box-dashboard {
  /* Width :300px !important; */
  Height: auto;
  min-height: 100px;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  padding-bottom: 20px;
  background: #F4F5F7;
}

.pl-20 {
  padding-right: 20px;
}

button.list-group-item.list-group-item-action.p-3 {
  color: #00BF9C;
}

button.list-group-item.list-group-item-action.p-3.active {
  color: #FFFFFF;
}

.col.filters.d-flex {
  padding-left: 100px;
}

#cia-user {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 28px;
  width: 28px;
  border: 1px solid rgba(32, 170, 234, 1);
  color: rgba(32, 170, 234, 1);
  text-align: center;
}

div#cia-user span {
  font-size: 14px;
  text-align: center;
}

.user {
  height: 34px;
  width: 34px;
}

select.form-select {
  border: none;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #ced4da;
  padding-top: 10px;
  margin-bottom: 1rem;
}

div#cia-user {
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

.bottom-side-menu {
  position: absolute;
  bottom: 0;
}

.nav-link {
  color: #495057;
}

a.nav-link {
  color: #495057;
}

.container.reset-box {
  padding-left: 50px;
  padding-right: 50px;
}

/*box-status*/
.title-section {
  height: 27px;
  width: auto;
  background: #20AAEA;
  border-radius: 8px 8px 0px 0px;
  padding-left: 10px;
  padding-top: 0.1rem;
  color: #FFFFFF;
  font-weight: 400;
}

.box-status-content {
  height: auto;
  background: #FFFFFF;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.user-pic {
  width: 80% !important;
}

.priority {
  background: #FF5263;
  border-radius: 8px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
}

.text-description {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.number-task {
  color: #00BF9C;
  font-size: 10px;
}

.ord {
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.paddd {
  padding-left: 20px;
  padding-right: 20px;
}

.col.commet-icon {
  text-align: end;
}

.revision {
  background: #FFC000;
}

.en-curso {
  background: #857CFE;
}

.finalizado {
  background: #A4CF30;
}

.data {
  text-align: center;
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.2);
}

.data-table {
  text-align: center;
  background: white;
  padding-top: 20px;
  color: #00bf9c7b;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 2rem;
  border-radius: 10px;
  border: 1px solid #E1E3E6;
}


.data-table ion-icon {
  font-size: 30px;
}


a:hover {
  color: #000000;
}

nav.items a {
  color: #ffff;
  text-decoration: none;
  padding-right: 30px;
}

.data ion-icon {
  font-size: 30px;
}

a.list-group-item.list-group-item-action.p-3 {
  border: none;
}

.list-group-item.active {
  background: rgba(0, 191, 156, 1) !important;
  color: #FFFFFF;
  border: none;
}

a.list-group-item.list-group-item-action.p-3.active ion-icon.md.hydrated {
  color: #FFFFFF !important;
}

div#sidebar-wrapper .nav-link:focus,
.nav-link:hover {
  color: rgba(0, 191, 156, 1) !important;
}

.navbar {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  flex-wrap: inherit !important;
}

.a-end {
  text-align: end;
}

#proyects {
  padding-left: 35px;
  padding-right: 35px;
}

#seguridad {
  padding-left: 35px;
  padding-right: 35px;
}

/*project list*/
.icon-profile-project {
  height: 41px;
  width: 41px;
  border-radius: 50px;
}

.sp-name {
  margin: auto;
  margin-left: 10px;
}

.btn-cr-pro {
  height: auto;
  border-radius: 8px;
  background: rgba(0, 191, 156, 1) !important;
  color: #FFFFFF !important;
}

.btn-cr-pro:hover {
  border: 1px solid;
}

td a {
  color: #000000;
  text-decoration: none;
}

div#tablero {
  padding-left: 1rem;
  padding-right: 1rem;
}


@media(max-width:900px) {
  .col-md-4.form-search {
    padding-top: 15px;
  }

  .col.filters.d-flex {
    padding-left: 20px;
  }

  .sidebar {
    width: 80px;
  }

  div#sidebar-wrapper .list-group.list-group-flush ul.list-unstyled li span.p-2 {
    display: none;
  }

  button.list-group-item.list-group-item-action.p-3.active ion-icon {
    padding-left: 8px;
  }

  button.list-group-item.list-group-item-action.p-3 ion-icon {
    padding-left: 8px;
  }

  div#sidebar-wrapper .bottom-side-menu span {
    display: none;
  }

  .bottom-side-menu {
    padding-left: 8px;
  }

  .btn-cls {
    width: 100%;
  }

  .btn-crear {
    width: 100%;
  }
}


a {
  text-decoration: none !important;
}

section.container-fluid.register-content h1 {
  font-weight: 700;
}

.btn-volver {
  padding-left: 42px !important;
}

.row.btn-volver a {
  color: rgba(0, 191, 156, 1);
}

button.list-group-item.list-group-item-action.p-3:focus {
  background-color: rgba(0, 191, 156, 1);
  color: #ffff;
}

button.list-group-item.list-group-item-action.p-3:active {
  background-color: rgba(0, 191, 156, 1);
  color: #ffff;
}

.padright {
  padding-right: 10px;
}

.padright ion-icon {
  font-size: 25px;
}

.deleteuser {
  color: #FF5263 !important;
  cursor: pointer;
}

button.btn.btn-primary.deleteuser {
  background: none;
  border: none;
}


/* .deleteuser:hover{
  background: rgba(254, 0, 0, 0.05);
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
  cursor: pointer;
} */

button.btn.btn-primary.pten {
  color: #A4CF30;
  cursor: pointer;
}

button.btn.btn-primary.pten:hover {
  background: rgba(165, 207, 48, 0.238);
  cursor: pointer;
}

.padright.edituser span:hover {
  color: #273404;
  background: rgba(164, 207, 48, 0.7);
}

#tablelist {
  background-color: #FFFFFF;
  border-radius: 18px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.register-box.container select.form-select {
  border: 1px solid #ced4da;
  padding: 1rem 0.75rem;
}

td.e-size {
  width: 300px;
}

.n-size {
  width: 300px;
}

.r-size {
  width: 100px;
}

.a-texttt {
  text-align: center;
}

.dd-jsu {
  justify-content: center;
}

.pll {
  margin-right: 50px;
}

button.nav-sg {
  background: transparent;
  border: none;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
}

button.nav-sg:first-child {
  padding-left: 0px;
}

.nav-active {
  background: white;
  color: #20c997;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 20px;
  padding: 8px;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.pl-dos {
  padding-left: 20px;
}

.ml-dos {
  margin-left: 20px;
}

.form-check-input:checked {
  background-color: #00BF9C !important;
  border-color: #00BF9C !important;
}

.swal-text {
  text-align: center !important;
}


.list-group-item.list-group-item-action.p-3.disabled {
  opacity: 0.3;
}

.nav-sg.disabled {
  opacity: 0.3;
}

.disabled {
  pointer-events: none;
}

.btn.btn-cr-pro.disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

button.btn.btn-primary.pten {
  background: none;
  border: none;
}

span.pten ion-icon {
  padding-top: 8px;
}

td.d-flex {
  text-align: center;
}

p ion-icon.md.hydrated {
  font-size: 18px;
  padding-left: 0;
  padding-right: 2px;
}

.img-project img {
  max-width: 40px;
  padding-right: 5px;
}

.profile img {
  max-width: 30px;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.img-create img {
  max-width: 80px;
}

.row.o-t ion-icon.md.hydrated {
  /* color: red; */
  font-size: 25px;
  font-weight: 100;
  /* padding-left: 15px; */
  color: black;
  padding: 3px;
  border-radius: 5px;
}

.row.o-t ion-icon.md.hydrated:hover {
  font-size: 25px;
  background: #20AAEA;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

table {
  --bs-table-striped-bg: rgba(0, 191, 156, 0.042) !important;
  --bs-table-hover-bg: rgba(0, 191, 156, 0.4) !important;
  border-color: transparent !important;
}

.acceso-actual {
  background: rgba(36, 230, 194, 0.135);
  color: black;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
}

button.btn.btn-cr-pro.btn.btn-primary {
  BORDER: NONE;
}

button.btn.btn-primary.deleteuser:hover {
  background: rgba(254, 0, 0, 0.107);
}

#overname {
  visibility: hidden;
  display: none;
  z-index: 10;
}

#facebookicon:hover~#overname {
  visibility: visible;
  display: block;
  position: absolute;
  z-index: 10;
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(225, 227, 230, 1);
  padding: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 3px;
}

.pr-2 {
  padding-right: 0.5rem;
}

.img-none img {
  max-width: 40px;
  padding-right: 5px;
  border-radius: 100%;
}

.priority {
  width: 100px;
}

.createUS {
  width: 120px !important;
}

#createUS {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-bottom: 5px;
}

div#createUS button.btn.btn-primary.createUS {
  background: #00BF9C;
  border-radius: 8px;
  border: none;
  height: 35px;
}

.boxUs{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}